*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:#0f172a;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;
background:rgba(0,0,0,0.5);
position:fixed;
width:100%;
}

.logo{
display:flex;
align-items:center;
font-size:22px;
font-weight:700;
}

.logo img{
width:40px;
margin-right:10px;
}

nav a{
margin-left:20px;
color:white;
text-decoration:none;
transition:.3s;
}

nav a:hover{
color:#38bdf8;
}

.hero{
height:100vh;
background:url("../images/hero.jpg") center/cover no-repeat;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
}

.hero-content{
background:rgba(0,0,0,0.5);
padding:40px;
border-radius:10px;
}

.hero h1{
font-size:60px;
}

.hero p{
margin:20px 0;
font-size:18px;
}

.btn{
padding:12px 30px;
background:#38bdf8;
border-radius:30px;
text-decoration:none;
color:white;
}

.features{
padding:100px 10%;
text-align:center;
}

.cards{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
}

.card{
background:#1e293b;
padding:30px;
border-radius:10px;
width:250px;
transition:.4s;
}

.card:hover{
transform:translateY(-10px);
background:#38bdf8;
}

.event{
padding:80px 10%;
text-align:center;
background:url("../images/students.jpg") center/cover;
}

footer{
text-align:center;
padding:20px;
background:#020617;
}