body{
font-family: Arial;
margin:0;
background:#f0f2f5;
}

header{
background:#1e88e5;
color:white;
text-align:center;
padding:25px;
}

nav{
background:#333;
text-align:center;
padding:12px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
color:#ffd43b;
}

section{
padding:30px;
max-width:1000px;
margin:auto;
}

.courses{
display:flex;
gap:20px;
flex-wrap:wrap;
}

.card{
background:white;
padding:20px;
border-radius:10px;
width:280px;
box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.card button{
background:#1e88e5;
color:white;
border:none;
padding:10px;
border-radius:5px;
cursor:pointer;
}

.card button:hover{
background:#1565c0;
}

footer{
background:#222;
color:white;
text-align:center;
padding:15px;
margin-top:40px;
}